@using DotNetCoreLocalization.Controllers
@using Microsoft.AspNetCore.Mvc.Localization

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject IHtmlLocalizer<HomeController> HtmlLocalizer

@{
    ViewData["Title"] = @ViewData["Title"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Custom styles */
        .custom-form {
            max-width: 500px;
            margin: auto;
        }
    </style>
</head>
<body>

    <div class="text-center mt-5">
        <h1 class="display-4">@localizer["India"]</h1>
        <p>@HtmlLocalizer["LearnMore"]</p>
        <p>@ViewData["Body"]</p>
    </div>

    <div class="container mt-5">
        <h2 class="text-center mb-4">@localizer["ContactFormTitle"]</h2>
        <form action="#" method="post" class="custom-form">
            <div class="form-group">
                <label for="name">@localizer["Name"]</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="age">@localizer["Age"]</label>
                <input type="number" class="form-control" id="age" name="age" required>
            </div>
            <div class="form-group">
                <label for="address">@localizer["Address"]</label>
                <textarea class="form-control" id="address" rows="5" name="address" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">@localizer["Submit"]</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script> *@
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
